.join-game-main-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  height: 100%;
  padding: 80px 20px 80px 20px;

  .join-game-header-title {
    text-align: center;
    // margin-top: 40px;
    font-weight: bold;
    font-size: 30px;
    font-family: "dune", Arial, sans-serif;
    color: rgba(255, 255, 255, 0.7);
    -webkit-text-fill-color: transparent;
    animation: glow-text-animation 2s infinite;
  }

  .join-game-buttons {
    display: flex;
    justify-content: space-between;
    // margin-top: 40px;

    .outbutton {
      max-width: 60%;
      text-align: center;   
    }

    .corner-button:before,
    .corner-button span:before,
    .corner-button:after,
    .corner-button span:after {
      display: block;
      content: "";
      width: 15px;
      height: 15px;
      position: absolute;
      text-align: center;
      justify-content: center;
      align-items: center;
    }

    .corner-button {
      display: inline-block;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 5px;
      text-align: center;
      position: relative;
      min-width: 200px;
      max-width: 200px;
      min-height: 10px;
      margin: 15px;
      background: none;
      border: none;
      text-decoration: none;
      cursor: pointer;
      color: white;
      border-radius: 10px;
      padding: 12px 20px;
      box-sizing: content-box;
      border: 2px solid transparent;
      text-align: center;
      line-height: 30px;
      transition: 0.75s ease;
      -webkit-text-fill-color: transparent;
      animation: glow-text-animation-soft 2s infinite;
    }

    .corner-button:before {
      top: -2px;
      left: -2px;
      border-top: 2px solid white;
      border-top-left-radius: 8px;
      border-left: 2px solid white;
      transition: 0.75s all;
      // filter: blur(1);
      // -webkit-text-fill-color: transparent;
      animation: glow-corner-animation-soft 2s infinite;
    }

    .corner-button:after {
      top: -2px;
      right: -2px;
      border-top: 2px solid white;
      border-top-right-radius: 8px;
      border-right: 2px solid white;
      transition: 0.75s all;
      // filter: blur(1);
      // -webkit-text-fill-color: transparent;
      animation: glow-corner-animation-soft 2s infinite;
    }

    .corner-button span {
      display: block;
      text-align: center;
      justify-content: center;
      align-items: center;
      margin-left: 8px;
    }

    .corner-button span:before {
      bottom: -2px;
      left: -2px;
      border-bottom: 2px solid white;
      border-bottom-left-radius: 8px;
      border-left: 2px solid white;
      transition: 0.75s all;
      // filter: blur(1);
      // -webkit-text-fill-color: transparent;
      animation: glow-corner-animation-soft 2s infinite;
    }

    .corner-button span:after {
      bottom: -2px;
      right: -2px;
      border-bottom: 2px solid white;
      border-bottom-right-radius: 8px;
      border-right: 2px solid white;
      transition: 0.75s all;
      // filter: blur(1);
      // -webkit-text-fill-color: transparent;
      animation: glow-corner-animation-soft 2s infinite;
    }

    .corner-button:hover {
      color: #ffffff;
      border-radius: 10px;
    }

    .corner-button:hover:before,
    .corner-button:hover:after {
      border-color: #1b9cfc;
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }

    .corner-button:hover span:before,
    .corner-button:hover span:after {
      border-color: #1b9cfc;
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }

    button:hover span::before,
    button:hover span::after {
      width: 50px;
      height: 50px;
      border-radius: 10px;
    }

    .join-game-button {
      color: white;
    }

    .cancel-color {
      color: orange;
      -webkit-text-fill-color: orange;
      // animation: text-color;
    }

  }


  @keyframes glow-text-animation {
    0% {
      text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
    }

    50% {
      text-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    }

    100% {
      text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
    }
  }

  @keyframes glow-text-animation-soft {
    0% {
      text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
    }

    50% {
      text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    }

    100% {
      text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
    }
  }

  @keyframes glow-corner-animation-soft {

    0%,
    100% {
      filter: blur(0.4px);
      opacity: 0.7;
    }
    50% {
      filter: blur(1px);
      opacity: 1;
    }
  }

  
}
