.online-games-main-container {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: transparent;
  overflow: hidden;

  .online-games-header {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    font-family: "dune", Arial, sans-serif;
    color: white;
    background-color: transparent
  }

  .online-games-container {
    width: 100%;
    height: 85%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .games {
      &__instance {
        background-color: transparent;
        box-sizing: border-box;
        border-radius: 0 0 12px 12px;
        padding: 15px 15px 20px;
        display: grid;
        row-gap: 6px;
        overflow-y: auto;
        overflow-x: hidden;
        flex: 1;
      }

      /* Customize the scrollbar track */
      &__instance::-webkit-scrollbar {
        width: 8px;
      }

      /* Customize the scrollbar thumb (draggable part) */
      &__instance::-webkit-scrollbar-thumb {
        background-color: #202020;
        border-radius: 8px;
        border: 2px solid #fff;
        box-shadow: 0 0 5px rgba(53, 216, 172, 0.6);
      }

      /* Change the appearance of the scrollbar thumb when hovering */
      &__instance::-webkit-scrollbar-thumb:hover {
        background-color: #000000;
        border-color: #eaeaea;
        box-shadow: 0 0 5px rgba(53, 216, 172, 0.9);
      }

      /* Change the appearance of the scrollbar thumb when active (being dragged) */
      &__instance::-webkit-scrollbar-thumb:active {
        background-color: #818181;
        box-shadow: 0 0 5px rgba(85, 85, 85, 0.9);
      }

      /* Customize the scrollbar track on the left side (if needed) */
      &__instance::-webkit-scrollbar-track {
        background-color: #ffffff;
      }

      /* Customize the scrollbar track on the right side (if needed) */
      &__instance::-webkit-scrollbar-track-piece:end {
        background-color: #ffffff;
      }

      /* Customize the scrollbar thumb on the top side (if needed) */
      &__instance::-webkit-scrollbar-thumb:horizontal {
        background-color: #000000;
        border-color: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
      }

      /* Customize the scrollbar thumb on the bottom side (if needed) */
      &__instance::-webkit-scrollbar-thumb:horizontal:hover {
        background-color: #000000;
        border-color: #eaeaea;
        box-shadow: 0 0 5px rgba(53, 216, 172, 0.9);
      }

      /* Customize the scrollbar thumb on the bottom side when active (if needed) */
      &__instance::-webkit-scrollbar-thumb:horizontal:active {
        background-color: #000000;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
      }

      &__instance_style {
        display: grid;
        grid-template-columns: 1fr 1fr 0.65fr 1fr 1fr;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0px 10px 10px;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
        cursor: pointer;
        transition: transform .25s cubic-bezier(.7, .98, .86, .98), box-shadow .25s cubic-bezier(.7, .98, .86, .98);
        height: 70px;
        border : 1px solid rgba(255, 255, 255, 0.3);
        &:hover {
          transform: scale(1.1);
          box-shadow: 0 9px 47px 11px rgba(51, 51, 51, 0.18);
        }
      }

      &__picture {
        max-width: 100%;
        height: 35px;
        min-height: 35px;
        width: 35px;
        min-width: 35px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        object-fit: cover;
        background-color: rgba(255, 255, 255, 0.5);
      }

      &__pictureright {
        margin-left: 5px;
        height: 35px;
        min-height: 35px;
        width: 35px;
        min-width: 35px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        object-fit: cover;
        background-color: rgba(255, 255, 255, 0.5);
      }

      &__nameleft {
        text-align: left;
        color: #979cb0;
        font-weight: 550;
        font-size: 15px;
        min-width: 70px;
        letter-spacing: 0.3px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &__nameright {
        text-align: right;
        color: #979cb0;
        font-weight: 550;
        font-size: 15px;
        min-width: 65px;
        letter-spacing: 0.3px;
        margin-left: 0px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-right: 10px;
      }

      &__score {
        text-align: center;
        color: white;
        font-weight: 550;
        font-size: 18px;
        letter-spacing: 0.3px;
        margin-left: -0px;
        min-width: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

    }
  }
}