.dashboard-main-container {
  width: 100vw;
  height: 100vh;

  min-width: 800px;
  min-height: 850px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-y: hidden;
  overflow-x: auto;

  .custom-text-color {
    color: rgba(255, 255, 255, 0.7) !important;
  }

  .profile-header-container {
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 70px;
    height: 200px;
    width: 400px;
    transform: translateY(-50%);
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 10px;
    padding-top: 40px;
    padding-bottom: 25px;

    .WinLossRatio {
      display: flex;
      font-family: "dune", Arial, sans-serif;
      font-weight: bold;
      font-weight: bold;
      font-size: 14px;
      align-self: center;
      width: 25%;
    }

    .progress-bar-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      font-family: "dune", Arial, sans-serif;
      font-weight: bold;
      font-size: 14px;
      align-self: center;
      width: 25%;
    }

    .icons {
      transform: translateY(30%);
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding-bottom: 10px;
      gap: 1px;

      .stats {
        align-items: center;
        justify-content: center;
        font-family: "dune", Arial, sans-serif;
        font-weight: bold;
      }

      button {
        align-items: center;
        justify-content: space-evenly;
        border-radius: 50px;
        cursor: pointer;
        transition: filter 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
        position: relative;
        filter: invert(40%);

        &::before,
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: inherit;
          opacity: 0;
          transition: opacity 0.5s ease-in-out;
          pointer-events: none;
        }

        &::before {
          top: 0;
          left: 0;
          filter: blur(20px);
        }

        &::after {
          bottom: 0;
          right: 0;
          filter: blur(20px);
        }

        &:hover {
          filter: invert(100%);

          &::before,
          &::after {
            opacity: 1;
          }
        }
      }

      button.profile-pic-button {
        filter: none;
        background-color: rgba(255, 255, 255, 0.5);
        cursor: pointer;

        &:focus {
          outline: none;
          filter: none;
        }

        &:hover {
          filter: none;

          .profile-pic-image {
            transform: scale(1.1);
            transition: transform 0.3s ease;
            filter: none !important;
          }
        }

        .profile-pic-image {
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          width: 75px;
          height: 75px;
          object-fit: cover;
          object-position: center;
          transition: transform 0.3s ease;
        }
      }
    }
  }

  .screen-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    gap: 20px;
    z-index: 10;
    height: 60%;

    .left-screen-container {
      border: 1px solid rgba(255, 255, 255, 0.3);
      min-width: 300px;
      min-height: 550px;
      height:100%;
      border-radius: 20px;
    }

    .right-screen-container {
      border: 1px solid rgba(255, 255, 255, 0.3);
      min-height: 550px;
      height: 100%;
      width: 350px;
      border-radius: 20px;
    }
  }

  .nav-footer-container {
    border-radius: 100px;
    height: 200px;
    width: 600px;
    display: flex;
    justify-content: center;
    transform: translateY(50%);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px;

    .icons {
      height: 80px;
      margin: 10px;
      transform: translateY(-30%);
      display: flex;
      justify-content: space-between;
      gap: 1px;

      button {
        width: 80px;
        padding: 10px;
        border-radius: 50px;
        cursor: pointer;
        transition: filter 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
        position: relative;
        filter: invert(40%);

        &::before,
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: inherit;
          opacity: 0;
          transition: opacity 0.5s ease-in-out;
          pointer-events: none;
        }

        &::before {
          top: 0;
          left: 0;
          filter: blur(20px);
        }

        &::after {
          bottom: 0;
          right: 0;
          filter: blur(20px);
        }

        &:hover {
          filter: invert(100%);

          &::before,
          &::after {
            opacity: 1;
          }
        }
      }
    }
  }
}
