.dashboard-main-container {

  width: 100vw;
  height: 100vh;

  min-width: 1000px;
  min-height: 850px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  overflow: hidden;
  overflow-x: auto;
  gap: 1px;
  .custom-text-color{
    color: rgba(255, 255, 255, 0.7) !important;
  }

  .profile-header-container {
    display: flex;
    background: rgba(0, 128, 0, 0.25);
    border-radius: 70px;
    height: 200px;
    width: 400px;
    transform: translateY(-50%);
    justify-content: center;
    
    .icons {
      transform: translateY(25%);
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      
      .stats {
        align-items: center;
        justify-content: center;
        padding: -10px 10px;
        width: 200px;
      }
      
      button {
        align-items: center;
        justify-content: center;
        width: 100px;
        border-radius: 50px;
        cursor: pointer;
        transition: filter 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
        position: relative;

        &::before,
        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: inherit;
          opacity: 0;
          transition: opacity 0.5s ease-in-out;
          pointer-events: none;
        }

        &::before {
          top: 0;
          left: 0;
          filter: blur(20px);
        }

        &::after {
          bottom: 0;
          right: 0;
          filter: blur(20px);
        }

        &:hover {
          filter: invert(100%);

          &::before,
          &::after {
            opacity: 1;
          }
        }
      }

      button.profile-pic-button {
        align-items: center;
        justify-content: center;
        background: none;
        border: none;
        cursor: pointer;

        &:focus {
          outline: none;
          filter: none; // to ensure the button itself doesn't apply a filter
        }

        &:hover {
          filter: none; // to ensure the button itself doesn't apply a filter

          .profile-pic-image {
            transform: scale(1.1);
            transition: transform 0.3s ease;
            filter: none !important; // to ensure that the image itself doesn't apply a filter
          }
        }

        .profile-pic-image {
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          width: 70px;
          height: 70px;
          object-fit: cover;
          transition: transform 0.3s ease;
        }
      }

    
    }
  }

  .screen-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    padding: 20px;
    justify-content: space-between;
    gap: 20px;

    max-height: 60%;

    .left-screen-container {
      min-width: 300px;
      height:100%;
      border-radius: 20px;
    }

    .right-screen-container {
      width: 350px;
      height:100%;
      border-radius: 20px;
      border: solid 1px red;
    }
  }

  .nav-footer-container {
    background: rgba(0, 128, 0, 0.25);
    border-radius: 100px;
    height: 200px;
    width: 600px;
    display: flex;
    justify-content: center;
    transform: translateY(50%);
    
    .icons {
      transform: translateY(-25%);
      display: flex;
      justify-content:x space-between;
      gap: 1px;
      padding: 10px 10px;
      
      button {
        width: 20%;
        width: 80px;
        padding: 10px;
        border-radius: 50px;
        cursor: pointer;
        transition: filter 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
        position: relative;

        &::before,
        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: inherit;
          opacity: 0;
          transition: opacity 0.5s ease-in-out;
          pointer-events: none;
        }

        &::before {
          top: 0;
          left: 0;
          filter: blur(20px);
        }

        &::after {
          bottom: 0;
          right: 0;
          filter: blur(20px);
        }

        &:hover {
          filter: invert(100%);

          &::before,
          &::after {
            opacity: 1;
          }
        }
      }
    }
  }

}
