/* //////////////////// 2FA CSS BEGIN \\\\\\\\\\\\\\\\\\\\\\\\\  */

:root {
	--visible: none;
	/* --visibility: block; */
}

.popup {
    display: var(--visible); /* Cachée par défaut */
    position: fixed; /* Position fixe */
    z-index: 1; /* Au premier plan */
    left: 0;
    top: 0;
    width: 100%; /* Largeur totale */
    height: 100%; /* Hauteur totale */
    overflow: auto; /* Pour gérer le défilement */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Style de la fenêtre popup elle-même */
.popup-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto; /* 15% depuis le haut, centrée horizontalement */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largeur de 80% */
}
	
.myBtn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white; /* Text color */
    padding: 15px 32px; /* Padding around text */
    text-align: center; /* Center the text */
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; /* Change cursor when hovering over button */
    border-radius: 12px; /* Rounded corners */
    transition-duration: 0.4s; /* Transition effect duration */
}

.myBtn:hover {
    background-color: #45a049; /* Change background color on hover */
}

.deactivate {
    background-color: #da243c;
    border: none;
    color: white; /* Text color */
    padding: 15px 32px; /* Padding around text */
    text-align: center; /* Center the text */
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; /* Change cursor when hovering over button */
    border-radius: 12px; /* Rounded corners */
    transition-duration: 0.4s; /* Transition effect duration */
}

.deactivate:hover {
    background-color: #c71c32;
}
/* Le bouton close */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* //////////////////2FA CSS END \\\\\\\\\\\\\\\\\\\\\\\\\  */