.progress-bar {
  height: 24px;
  width:  360px;
  border-radius: 10px;
  background-color: lightblue;
  margin: 50px;
}

.progress-bar > div {
   width: 0%;
   height: 100%;
   border-radius: 10px;
   background-image: linear-gradient(to right, lightskyblue, blue);
   background-size: 360px 100%;
   transition: width 200ms;
}