.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;

    /* to delete */
    border: 1px solid white;
  }

.signin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.main-login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;
    min-width: 400px;

    /* to delete */
    border: 1px solid white;
}

.secondary-login-container {
    display: flex;
    position: relative;
    justify-content: center;
    height: 500px;
    width: 400px;
    z-index: 1;

    /* to delete */
    border: 1px solid white;
}

.form-master-container {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 25px;
    width: 350px;

    /* to delete */
    border: 1px solid white;

}