.no-game-spectate-outter-button {
  align-items: center;
  display: flex;
  flex-direction: column;
  

  .no-game-link-button:before,
  .no-game-link-button span:before,
  .no-game-link-button:after,
  .no-game-link-button span:after {
    display: block;
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .no-game-link-button {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 5px;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    position: relative;
    min-width: 400px;
    max-width: 400px;
    min-height: 80px;
    margin: 30px;
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    padding: 12px 20px;
    box-sizing: content-box;
    border: 2px solid transparent;
    text-align: center;
    line-height: 30px;
    transition: 0.75s ease;
    -webkit-text-fill-color: transparent;
    animation: glow-text-animation-soft 2s infinite;
  }

  .no-game-link-button:before {
    top: -2px;
    left: -2px;
    border-top: 2px solid white;
    border-top-left-radius: 8px;
    border-left: 2px solid white;
    transition: 0.75s all;
    // filter: blur(1);
    // -webkit-text-fill-color: transparent;
    animation: glow-corner-animation-soft 2s infinite;
  }

  .no-game-link-button:after {
    top: -2px;
    right: -2px;
    border-top: 2px solid white;
    border-top-right-radius: 8px;
    border-right: 2px solid white;
    transition: 0.75s all;
    // filter: blur(1);
    // -webkit-text-fill-color: transparent;
    animation: glow-corner-animation-soft 2s infinite;
  }

  .no-game-link-button span {
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
  }

  .no-game-link-button span:before {
    bottom: -2px;
    left: -2px;
    border-bottom: 2px solid white;
    border-bottom-left-radius: 8px;
    border-left: 2px solid white;
    transition: 0.75s all;
    // filter: blur(1);
    // -webkit-text-fill-color: transparent;
    animation: glow-corner-animation-soft 2s infinite;
  }

  .no-game-link-button span:after {
    bottom: -2px;
    right: -2px;
    border-bottom: 2px solid white;
    border-bottom-right-radius: 8px;
    border-right: 2px solid white;
    transition: 0.75s all;
    // filter: blur(1);
    // -webkit-text-fill-color: transparent;
    animation: glow-corner-animation-soft 2s infinite;
  }

  .no-game-link-button:hover {
    color: #ffffff;
    border-radius: 10px;
  }

  .no-game-link-button:hover:before,
  .no-game-link-button:hover:after {
    border-color: #1b9cfc;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .no-game-link-button:hover span:before,
  .no-game-link-button:hover span:after {
    border-color: #1b9cfc;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  @keyframes glow-text-animation {
    0% {
      text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
    }

    50% {
      text-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    }

    100% {
      text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
    }
  }

  @keyframes glow-text-animation-soft {
    0% {
      text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
    }

    50% {
      text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    }

    100% {
      text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
    }
  }

  @keyframes glow-corner-animation-soft {

    0%,
    100% {
      filter: blur(0.4px);
      opacity: 0.7;
    }
    50% {
      filter: blur(1px);
      opacity: 1;
    }
  }
}