.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  background-color: black;

  height: 100vh;
  width: 100vw;

  .toggler {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    transition: height 1s ease;

    .metadata-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      height: 5vh;
      width: 20vw;

      background-color: blue;

      .more {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 100%;
        width: 13%;

        background-color: white;

        cursor: pointer;

        .more-symbol {
          width: 50%;
          height: 4%;

          span,
          span:before,
          span:after {
            display: block;
            position: relative;

            width: 100%;
            height: 100%;

            cursor: pointer;
            content: '';

            background: black;
            transition: all 250ms ease-in-out;
          }

          span:before {
            top: -350%;
          }

          span:after {
            bottom: -200%;
          }

          &.active span {
            background-color: transparent;
          }

          &.active span:before {
            top: 0;
            transform: rotate(45deg);
          }

          &.active span:after {
            bottom: 100%;
            transform: rotate(-45deg);
          }
        }

        .popups-container {
          position: relative;
          top: 50%;

          .more-popup {
            position: absolute;
            height: 20vh;
            width: 10vw;

            .contents {
              text-align: center;

              p {
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;

                height: 4vh;
                width: 9vw;

                background-color: white;
                border: 1px solid gray;

                margin: 2px;
                cursor: pointer;

                border-radius: 5px;
                font-size: 12px;

                transition: transform 0.3s;

                &:hover {
                  transform: scale(1.05);
                }
              }

            }

            .channel-creation-popup {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;

              background: white;
              border-radius: 5px;
              border: 1px solid gray;

              position: absolute;
              top: 10%;
              left: 100%;

              height: 15vh;
              width: 10vw;

              .icons {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;

                border-bottom: 3px solid black;
                border-radius: 5px 5px 0px 0px;
                background: #A9A9A9;

                height: 26%;
                width: 100%;

                .selected {
                  font-size: 10px;
                }

                img {
                  max-width: 15%;
                  padding: 2px;
                  margin: 1px 1px 1px 1px;
                  border: 1px solid black;
                  background-color: gray;
                  cursor: pointer;
                  border-radius: 2px;
                  transition: transform 0.3s;

                  &:hover {
                    transform: scale(1.2);
                  }
                }

                .public {}

                .private {}

                .protected {}
              }

              .channel-name {
                input {
                  width: 80%;
                }
              }

              .password-input {
                width: 100%;
                background-color: red;

                input {
                  width: 80%;
                }
              }

              .validate {
                background-color: brown;
                width: 100%;
                text-align: center;

                p {
                  margin: 0px;
                  cursor: pointer;
                  transition: transform 0.3s;

                  &:hover {
                    transform: scale(1.05);
                  }
                }
              }
            }

            .dm-popup {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;

              background: green;

              position: absolute;
              top: 30%;
              left: 100%;

              width: 100%;
              max-height: 80%;

              overflow-y: scroll;
            }

            .restrict-popup {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;

              background: green;

              position: absolute;
              top: 50%;
              left: 100%;

              width: 100%;
              max-height: 80%;

              overflow-y: scroll;
            }

            .channel-list-popup {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;

              background: green;

              position: absolute;
              top: 80%;
              left: 100%;

              width: 100%;
              max-height: 80%;

              overflow-y: scroll;
            }

          }
        }

      }

      .metadata {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        height: 100%;
        width: 90%;

        background-color: blueviolet;

        .chat-info {
          height: 100%;
          width: 100%;

          background-color: lime;
        }

        .chat-icon {
          height: 100%;
          width: 17%;

          background-color: deeppink;
        }
      }
    }

    .messages-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      height: 100%;
      width: 20vw;

      overflow-y: scroll;
      background-color: #E8EBF5;

      .message-self,
      .message-other {
        display: inline-block;

        box-shadow: 8px -8px 10px -7px rgba(0, 0, 0, .4);

        word-wrap: break-word;
        max-width: 70%;

        border-radius: 8px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 5px;
      }

      .message-self {
        align-self: flex-end;
        background-color: limegreen;

        margin-right: 5px;
      }

      .message-other {
        align-self: flex-start;

        background-color: gray;
        margin-left: 5px;
      }
    }

  }

  .chatbar-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    height: 5vh;
    width: 20vw;

    background-color: white;
    z-index: 1;

    .text {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      height: 100%;
      width: 85%;

      .text-input {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        height: 80%;
        width: 90%;

        border-radius: 5rem;
        box-shadow: 5px 10px 10px -5px rgba(0, 0, 0, .8);

        input {
          flex: 1;

          height: 100%;
          width: 100%;

          background: transparent;

          padding: 0 1rem;

          font-size: 1rem;
          color: #333;

          outline: none;
          border: none;
        }

        .text-send {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          height: 100%;
          width: 8%;

          margin-right: 15px;

          .arrow-img {
            max-height: 80%;
            max-width: 100%;
          }
        }
      }

    }

    .toggler {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      height: 100%;
      width: 15%;

      cursor: pointer;

      .arrow-img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }
}