$border: 1px solid rgba(255, 255, 255, 0.5);
$background: rgba(255, 255, 255, 0);
$hover-color: rgba(255, 255, 255, 0.5);
$font-color: rgba(255, 255, 255, 0.7);

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  max-height: 800px;
  min-height: 200px;
  height: 100%;
  width: 100%;
  padding: 10px 10px;
  background: $background;
  border-radius: 20px;


    .metadata-container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

      height: 90px;
      width: 100%;

      z-index: 2;


      .more {

        display: flex;
        height: 90px;
        width: 50px;
        
        .more-symbol-container {

          margin-top: 15px;
          justify-content: center;
          align-items: center;
          padding: 10px;
          height: 80%;
          width: 100%;
          cursor: pointer;
          z-index: 1;
          justify-content: center;
          align-items: center;
          
          .more-symbol {

            flex-direction: column; 
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;

            li {
              height: 4px;
              width: 30px;
              background: rgba(255, 255, 255, 0.3);
              transition: transform 250ms ease-in-out;
              margin-top: 6px;
            }
            
            &.active li:nth-child(1) {
              width: 40px;
              transform: rotate(45deg);
              position: relative;
              left: -5px;
              top: 10px;
            }

            &.active li:nth-child(2) {
              height: 0;
              width: 0;
              opacity: 0; // Start with opacity 0
              transform: scale(0); // Start with a scaled-down size
              transition: transform 1s ease-in-out, opacity 1s ease-in-out; // Transition both transform and opacity
            }

            &.active li:nth-child(3) {
              width: 40px;
              transform: rotate(-45deg);
              position: relative;
              left: -5px;
            }

            }
        }

        .more-popup {
          position: relative; // Set relative positioning
          top: 110%; // Adjust as needed
          left: -100%; // Adjust as needed
          height: 200px; // Set the desired height
          width: 120px; // Set the desired width
          border-radius: 5px;
          // border: $border;
          cursor: auto;
          background: rgba(0, 0, 0, 0.8); // Transparent background
          z-index: 3;

          transition: opacity 0.3s ease, transform 0.3s ease, height 0.3s ease; // Add transitions

          .contents {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-content: center;
            width: 100%;
            height: 100%;
            
            p {
              padding: 10px;
              justify-content: center;
              text-align: center;
              font-family: "dune", Arial, sans-serif;
              color: rgba(255, 255, 255, 1);
              border: $border;
              border-radius: 5px;
              font-size: 14px;
              margin: 0;
              
              cursor: pointer;
              transition: transform 0.3s;
              &:hover {
                transform: scale(1.05);
              }
            }
          }

          .password-popup {
            position: relative;

            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);


            border-radius: 5px;

            .password-popup-content {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              text-align: center;

              .infos {
                input {
                  width: 90%;

                  margin-bottom: 10px;
                  padding: 8px;

                  border: $border;
                  border-radius: 5px;
                }
              }

              .buttons {
                button {
                  padding: 8px 16px;
                  border-radius: 5px;
                  cursor: pointer;
                  margin: 5px;
                }

                .cancel {

                  &:hover {
                    color: $hover-color;
                    background-color: #dd3c49;
                  }
                }

                .validate {
                    background-color: rgba(0, 0, 255, 0.3);
                    color: rgb(255, 255, 255, 0.3);

                  &:hover {
                    color: $hover-color;
                    background-color: rgba(0, 128, 0, 0.3);
                  }
                }
              }
            }
          }

          .channel-creation-popup {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: rgba(0, 0, 0, 0.8); // Transparent background

            position: relative;
            top: -99%;
            left: 102%;

            border-radius: 5px;
            border: $border;

            height: 280px;
            width: 160px;

            .icons {
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
              align-items: center;

              border-radius: 5px;
              
              .selected-text {
                
                height: 80px;
                padding: 10px;
                width: 100%;
                justify-content: center;
                
                .type {
                  justify-content: center;
                  display: flex;
                  font-size: 9px;
                  margin: 5px;
                  font-family: "dune", Arial, sans-serif;
                  color: rgba(255, 255, 255, 1);
                }
                
                .description {
                  text-align: center;
                  font-family: "dune", Arial, sans-serif;
                  color: rgba(255, 255, 255, 1);
                  font-size: 12px;
                  word-wrap: break-word;
                  margin: 0px;
                }
              }
              
              .images {

                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                padding: 5px;
                
                img {
                  filter: invert(100%);
                  height: 30px;
                  width: 30px;
                  padding: 2px;
                  margin: 1px 1px 1px 1px;

                  border-bottom: $border;
                  border-radius: 2px;

                  cursor: pointer;
                  transition: transform 0.3s;

                  &.selected {
                    background-color: #d887ee9f;
                  }

                  &:hover {
                    transform: scale(1.2);
                  }
                }
              }
            }

            .channel-name {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              padding: 5px;
              font-size: 10pt;
              color: rgba(255, 255, 255, 1);

              input {
                height: 30px;
                width: 90%;
                background: transparent;
                border: $border;
                border-radius: 5px;
                padding: 5px;
              }
            }
            
            .password-input {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              padding: 5px;
              font-size: 10pt;
              color: rgba(255, 255, 255, 1);
              
              input {
                height: 30px;
                width: 90%;
                background: transparent;
                border: $border;
                border-radius: 5px;
                padding: 5px;
            }
            }

            .validate {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 10px;
              
              p {
                margin: 0;
                padding: 10px;
                height: 60px;
                justify-content: center;
                text-align: center;
                font-family: "dune", Arial, sans-serif;
                border: $border;
                border-radius: 5px;
                font-size: 14px;
                color: rgba(255, 255, 255, 1);
                
                cursor: pointer;
                transition: transform 0.3s;
                
                &:hover {
                  transform: scale(1.05);
                }
              }
            }
          }

          .all-users-popup {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            position: relative;
            top: calc(100% / 3);
            left: 102%;

            height: max-content;
            // max-height: 20vw;
            // width: 10vw;
            min-width: 130px;
            min-height: 180px;

            border-radius: 5px;
            border: $border;

            .filter-users {
              padding: 10px;
              border: none;
              border-bottom: $border;
              outline: none;
            }

            .users-list {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;

              overflow-x: hidden;

              z-index: 10;

              .user-container {
                border-bottom: $border;

                cursor: pointer;

                .user {
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-start;
                  align-items: center;

                  transition: background-color;

                  &:hover {
                    background-color: $hover-color;
                  }

                  .profile-picture {
                    width: 30%;
                    height: auto;
                    margin: 5px 0px 5px 5px;

                    border-radius: 50%;
                    box-shadow: 7px 10px 10px -6px rgba(0, 0, 0, 0.72);
                  }

                  .username {
                    margin: 0px 0px 0px 10px;
                  }
                }
              }
            }

            .user-actions {
              position: relative;

              top: 0%;
              left: 100%;

              width: 10rem;

              border-radius: 5px;
              border: $border;

              text-align: center;
              word-wrap: break-word;

              h4 {
                text-transform: uppercase;
                margin: 0px;
                border-bottom: $border;
              }

              .dm:hover,
              .invite-to-play:hover,
              .block-user:hover {
                background-color: $hover-color;
              }

              .dm {
                border-bottom: $border;
              }

              .invite-to-play {
                border-bottom: $border;
              }

              .block-user {
              }
            }
          }

          .channel-list-popup {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            position: relative;
            top: calc(100% / 3 * 2);
            left: 102%;

            height: max-content;
            max-height: 200px;
            // width: 10vw;

            overflow-x: hidden;
            overflow-y: scroll;

            border-radius: 5px;
            border: $border;

            .filter-channels {
              padding: 10px;
              border: none;
              border-bottom: $border;
              outline: none;
            }

            .channel-list {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;

              z-index: 10;

              .channel-container {
                border-bottom: $border;
                cursor: pointer;

                .channel {
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-start;
                  align-items: center;

                  transition: background-color;

                  &:hover {
                    background-color: $hover-color;
                  }

                  .type-picture {
                    width: 15%;
                    min-width: 15%;
                    height: auto;

                    margin: 5px 0px 5px 5px;

                    border-radius: 50%;
                  }

                  .channel-info {
                    overflow: hidden;

                    p {
                      font-family: "dune", Arial, sans-serif;
                      line-height: 12px;
                      font-size: 12px;
                      margin: 0px 0px 0px 10px;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .channel-manager {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        padding: 10px;
        height: 90px;
        width: 200px;

        font-family: "dune", Arial, sans-serif;
        color: $font-color;
        border-left: $border;
        border-right: $border;

        .channel-infos {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;


          height: 100%;
          width: 88%;

          .channel-name {
            height: 50%;
            font-size: 14px;
          }

          .channel-users-container {
            height: 50%;
            width: 100%;
            cursor: pointer;
            font-size: 14px;

            position: relative;

            .channel-users-count {
              height: 100%;
              width: 130px;
              border-radius: 5px;

              &:hover {
                outline: $border;
              }
            }

            .popup-container {
              position: relative;

              top: 102%;
              width: 100%;

              .invited {
                position: relative;
                top: 0%;
                left: 100%;

                display: flex;
                justify-content: center;
                align-items: center;

                border: $border;
                border-radius: 5px;

                text-align: center;
                text-transform: uppercase;
                word-wrap: break-word;
              }

              .channel-users-popup {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                height: max-content;
                max-height: 100%;
                width: 100%;

                overflow-y: scroll;

                border-radius: 5px;

                border: $border;

                .filter-users {
                  height: 30px;
                  padding: 10px;
                  outline: none;
                }

                .users-list {
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-start;

                  overflow-x: hidden;

                  .user-container {
                    position: relative;
                    border-top: $border;

                    cursor: pointer;

                    .user {
                      display: flex;
                      flex-direction: row;
                      justify-content: flex-start;
                      align-items: center;

                      transition: background-color 0.3s;

                      &:hover {
                        background-color: $hover-color;
                      }

                      .profile-picture {
                        width: 30%;
                        height: auto;
                        margin: 5px 0px 5px 5px;

                        border-radius: 50%;
                        box-shadow: 7px 10px 10px -6px rgba(0, 0, 0, 0.72);
                      }

                      .username {
                        margin: 0px 0px 0px 10px;
                      }
                    }
                  }
                }

                .invite-user {
                      font-family: "dune", Arial, sans-serif;
                      color: $font-color;
                      text-align: center;
                  border-top: $border;

                  &:hover {
                    background-color: $hover-color;
                  }
                }
              }

              .user-actions {
                position: relative;

                top: 0%;
                left: 100%;

                width: 10rem;

                border-radius: 5px;
                border: $border;

                text-align: center;
                word-wrap: break-word;

                h4 {
                  text-transform: uppercase; //?
                  margin: 0px;
                  border-bottom: $border;
                  cursor: default;
                }

                .kick:hover,
                .ban:hover,
                .mute:hover,
                .promote:hover,
                .unban:hover,
                .unmute:hover,
                .demote:hover,
                .dm:hover,
                .invite-to-play:hover,
                .block-user:hover {
                  background-color: $hover-color;
                }
                
                .ban {
                  border-bottom: $border; 
                }

                .unban {
                  border-bottom: $border; 
                }

                .kick {
                  border-bottom: $border; 
                }

                .mute {
                  border-bottom: $border; 
                }

                .unmute {
                  border-bottom: $border; 
                }

                .promote {
                  border-bottom: $border; 
                }

                .demote {
                  border-bottom: $border; 
                }

                .dm {
                  border-bottom: $border; 
                }

                .invite-to-play {
                  border-bottom: $border; 
                }

                .block-user {
                  border-bottom: $border; 
                }
              }
            }
          }
        }

        .manage {
          position: relative;
          justify-content: center;
          align-items: center;
          width: 30px;
          cursor: pointer;

          img {
            justify-content: center;
            align-items: center;
            filter: invert(40%);
            height: 30px;
            width: 30px;
          }

          .channel-popup {

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            position: relative;
            top: 80%;
            left: -220%;
            height: 300px;
            width: 160px;
            border-radius: 5px;
            border: $border;
            cursor: auto;
            background: rgba(0, 0, 0, 0.7);
            
            p {
              font-family: "dune", Arial, sans-serif;
              color: $font-color;
              font-size: 14px;
            }

            .channel-description {
              font-size: 12px;
              padding: 10px;
              text-align: center;
            }

            .images {
              display: flex;
              flex-direction: row;
              justify-content: center;

              img {

                height: auto;
                width: 30%;
                transform: invert(100%);
                padding: 2px;
                margin: 1px 1px 1px 1px;
                border-radius: 50px;
                cursor: pointer;
                transition: filter 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
        
                &::before,
                &::after {
                  content: '';
                  position: relative;
                  width: 100%;
                  height: 100%;
                  border-radius: inherit;
                  opacity: 0;
                  transition: opacity 0.5s ease-in-out;
                  pointer-events: none;
                }
        
                &::before {
                  top: 0;
                  left: 0;
                  filter: blur(20px);
                }
        
                &::after {
                  bottom: 0;
                  right: 0;
                  filter: blur(20px);
                }
        
                &:hover {
                  filter: invert(100%);
        
                  &::before,
                  &::after {
                    opacity: 1;
                  }
                }
              }
            }

            .password-input {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              width: 90%;
              height: 40px;

              input {
                width: 85%;
                height: 30px;

                font-size: 12px;
                padding: 3px;
                border: $border;
                background: transparent;
                border-radius: 5px;
              }
            }

            .validate {
              display: flex;
              justify-content: center;
              align-items: center;

              width: 80%;

              text-align: center;
              overflow: hidden;

              border: $border;
              border-radius: 5px;
              padding: 10px;

              transition: background-color;
              &:hover {
                background-color: rgba(0, 255, 0, 0.3);
              }

              p {
                font-family: "dune", Arial, sans-serif;
                color: $font-color;
                margin: 0;
                cursor: pointer;
                transition: transform 0.3s;

                &:hover {
                  transform: scale(1.05);
                }
              }
            }

            .quit-channel {
              text-align: center;
              overflow: hidden;
              width: 80%;

              border: $border;
              border-radius: 5px;
              padding: 10px;
              cursor: pointer;
              transition: background-color;
              &:hover {
                background-color: rgba(255, 0, 0, 0.3);
              }
              
              p {
                margin: 0px;
                font-family: "dune", Arial, sans-serif;
                color: $font-color;
                transition: transform;
                &:hover {
                  transform: scale(1.05);
                }
              }
            }
          }
        }
      }

      .channel-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        min-width: 30px;
        width: 20%;
        padding: 10px;
        filter: invert(40%);

        img {

          height: 70%;
          width: auto;

          border-radius: 50%;
        }

      }
    }

    .messages-container {
      height: 100%;
      width: 100%;

      overflow-y: scroll;
      z-index: 1;


      // Style the scrollbar
      scrollbar-color: transparent rgba(128, 128, 128, 0.2); // Transparent thumb, gray background

      &:hover {
        scrollbar-color: rgba(128, 128, 128, 0.6) rgba(0, 0, 0, 0.2); // Show scrollbar thumb and border on hover
      }

      &::-webkit-scrollbar {
        width: 10px; // Adjust the width as needed
      }

      &::-webkit-scrollbar-track {
        background-color: rgba(128, 128, 128, 0.2); // Gray transparent background
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(128, 128, 128, 0.3); // Transparent scrollbar thumb
        border-radius: 5px; // Rounded corners for the thumb
        border: 2px solid rgba(0, 0, 0, 0); // Hide the border initially
      }

      &:hover {
        &::-webkit-scrollbar-thumb {
          background-color: rgba(128, 128, 128, 0.6); // Show scrollbar thumb on hover
          border-color: rgba(0, 0, 0, 0.2); // Show border on hover
        }
      }

      .denied {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        // width: 10vw;
        // height: 10vh;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: red;

        border: $border;
        border-radius: 5px;

        text-align: center;
        text-transform: uppercase;
        word-wrap: break-word;
      }

      .message-container {
        display: flex;
        flex-direction: column;

        img {
          height: auto;
          width: 8%;
          border-radius: 50%;
          margin: 20px 0 0 5px;
        }

        .message-self,
        .message-other {
          display: inline-block;

          word-wrap: break-word;
          width: fit-content;
          max-width: 70%;

          p {
            color: $font-color;
            box-shadow: 8px -8px 10px -7px rgba(0, 0, 0, 0.4);
            border-radius: 8px;
            margin-top: 5px;
            margin-bottom: 5px;
            padding: 5px;
          }
        }

        .message-self {
          align-self: flex-end;
          margin-right: 5px;

          p {
            color: $font-color;
            background-color: rgba(0, 69, 0, 0.5);
          }
        }

        .message-other {
          align-self: flex-start;
          margin-left: 5px;

          p {
            color: $font-color;
            background-color: rgba(0, 30, 69, 0.5);
          }
        }
      }
    }
  }

  .chatbar-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    height: 50px;
    width: 100%;

    border-bottom-right-radius: 10px;

    z-index: 1;

    .text {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background: transparent;

      height: 100%;
      width: 100%;

      .text-input {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        height: 80%;
        width: 90%;

        border: $border;
        background: transparent;

        border-radius:20px;
        box-shadow: 5px 10px 10px -5px rgba(0, 0, 0, 0.8);

        input {
          flex: 1;
          background: transparent;

          height: 100%;
          width: 100%;

          padding: 10px 15px;

          font-size: 1rem;
          color: $font-color;

          outline: none;
        }

        .text-send {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          height: 100%;
          width: 8%;

          margin-right: 5px;

          .arrow-img {
            max-height: 80%;
            max-width: 100%;
            filter: invert(70%);
          }
        }
      }
    }
}
