$border: 1px solid rgba(255, 255, 255, 0.5);
$background: rgba(255, 255, 255, 0.05);
$hover-color: rgba(255, 255, 255, 0.5);
$font-color: rgba(255, 255, 255, 0.7);

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  min-height: 200px;
  height: 100%;
  width: 100%;
  padding: 10px 10px;
  background: $background;
  border-radius: 20px;

    .metadata-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      height: 10%;
      width: 100%;

      z-index: 2;

      .more {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 100%;
        width: 13%;

        .more-symbol-container {
          height: 100%;
          width: 100%;

          cursor: pointer;
          z-index: 5;

          .more-symbol {
            height: 100%;
            width: 100%;

            span {
              display: block;
              position: relative;

              width: 50%;
              height: 4%;

              top: 50%;
              left: 25%;

              content: " ";

              background: $font-color;
              transition: all 250ms ease-in-out;
            }

            span:before {
              display: block;
              position: relative;

              width: 100%;
              height: 100%;

              top: -6px;
              left: 0px;

              content: " ";

              background: $font-color;
              transition: all 250ms ease-in-out;
            }

            span:after {
              display: block;
              position: relative;

              width: 100%;
              height: 100%;

              top: 5px;
              left: 0px;

              content: " ";
              background: $font-color;
              transition: all 250ms ease-in-out;
            }

            &.active span {
              background-color: transparent;
            }

            &.active span:before {
              top: 0;
              transform: rotate(45deg);
            }

            &.active span:after {
              top: -100%;
              transform: rotate(-45deg);
            }
          }
        }

        .more-popup {

          position: relative;
          top: 150%;
          left: 0%;
          height: 100%;
          width: 100%;

          .contents {
            display: flex;
            flex-direction: column;
            
            p {
              justify-content: center;
              text-align: center;
              font-family: "dune", Arial, sans-serif;
              border: $border;
              border-radius: 5px;
              font-size: 14px;
              color: $font-color;
              min-width: 120px;
              padding: 5px 5px;

              cursor: pointer;

              transition: transform 0.3s;

              &:hover {
                transform: scale(1.05);
              }
            }
          }

          .password-popup {
            position: fixed;

            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);


            border-radius: 5px;

            .password-popup-content {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              text-align: center;

              .infos {
                input {
                  width: 90%;

                  margin-bottom: 10px;
                  padding: 8px;

                  border: $border;
                  border-radius: 5px;
                }
              }

              .buttons {
                button {
                  padding: 8px 16px;
                  border-radius: 5px;
                  cursor: pointer;
                  margin: 5px;
                }

                .cancel {

                  &:hover {
                    color: $hover-color;
                    background-color: #dd3c49;
                  }
                }

                .validate {
                    background-color: rgba(0, 0, 255, 0.3);
                    color: rgb(255, 255, 255, 0.3);

                  &:hover {
                    color: $hover-color;
                    background-color: rgba(0, 128, 0, 0.3);
                  }
                }
              }
            }
          }

          .channel-creation-popup {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            // position: absolute;
            // top: 0%;
            // left: 102%;
            margin-top: 2px;

            border-radius: 5px;
            border: $border;

            height: 15vh;
            // width: 10vw;

            .icons {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;

              border-bottom: $border;
              border-radius: 5px 5px 0px 0px;

              height: 40%;
              width: 100%;

              .selected-text {
                width: 55%;

                .type {
                  margin: 0px 0px 1px 0px;
                  font-size: 10px;
                }

                .description {
                  font-size: 8px;
                  word-wrap: break-word;
                  line-height: 10px;
                  margin: 0px;
                }
              }

              .images {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;

                height: 70%;
                width: 60%;

                img {

                  height: auto;
                  width: 80%;

                  padding: 2px;
                  margin: 1px 1px 1px 1px;

                  border-bottom: $border;
                  border-radius: 2px;

                  cursor: pointer;
                  transition: transform 0.3s;

                  &.selected {
                    background-color: #5e5e5e;
                  }

                  &:hover {
                    transform: scale(1.2);
                  }
                }
              }
            }

            .channel-name {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              height: 20%;
              border-bottom: $border;

              input {
                height: 80%;
                width: 90%;

                font-size: 0.8rem;

                border: $border;
                border-radius: 5px;
              }
            }

            .password-input {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              height: 20%;
              border-bottom: $border;

              input {
                height: 80%;
                width: 90%;

                font-size: 0.8rem;

                border: $border;
                border-radius: 5px;
              }
            }

            .validate {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              flex-grow: 1;
              width: 100%;

              p {
                margin: 0px;
                cursor: pointer;
                transition: transform 0.3s;

                &:hover {
                  transform: scale(1.05);
                }
              }
            }
          }

          .all-users-popup {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            // position: absolute;
            // top: calc(100% / 3);
            // left: 102%;

            height: max-content;
            max-height: 20vw;
            // width: 10vw;
            min-width: 130px;
            min-height: 180px;

            border-radius: 5px;
            border: $border;

            .filter-users {
              padding: 10px;
              border: none;
              border-bottom: $border;
              outline: none;
            }

            .users-list {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;

              overflow-x: hidden;

              z-index: 10;

              .user-container {
                border-bottom: $border;

                cursor: pointer;

                .user {
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-start;
                  align-items: center;

                  transition: background-color;

                  &:hover {
                    background-color: $hover-color;
                  }

                  .profile-picture {
                    width: 30%;
                    height: auto;
                    margin: 5px 0px 5px 5px;

                    border-radius: 50%;
                    box-shadow: 7px 10px 10px -6px rgba(0, 0, 0, 0.72);
                  }

                  .username {
                    margin: 0px 0px 0px 10px;
                  }
                }
              }
            }

            .user-actions {
              // position: absolute;

              // top: 0%;
              // left: 100%;

              width: 10rem;

              border-radius: 5px;
              border: $border;

              text-align: center;
              word-wrap: break-word;

              h4 {
                text-transform: uppercase;
                margin: 0px;
                border-bottom: $border;
              }

              .dm:hover,
              .invite-to-play:hover,
              .block-user:hover {
                background-color: $hover-color;
              }

              .dm {
                border-bottom: $border;
              }

              .invite-to-play {
                border-bottom: $border;
              }

              .block-user {
              }
            }
          }

          .channel-list-popup {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            // position: absolute;
            // top: calc(100% / 3 * 2);
            // left: 102%;

            height: max-content;
            max-height: 200px;
            // width: 10vw;

            overflow-x: hidden;
            overflow-y: scroll;

            border-radius: 5px;
            border: $border;

            .filter-channels {
              padding: 10px;
              border: none;
              border-bottom: $border;
              outline: none;
            }

            .channel-list {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;

              z-index: 10;

              .channel-container {
                border-bottom: $border;
                cursor: pointer;

                .channel {
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-start;
                  align-items: center;

                  transition: background-color;

                  &:hover {
                    background-color: $hover-color;
                  }

                  .type-picture {
                    width: 15%;
                    min-width: 15%;
                    height: auto;

                    margin: 5px 0px 5px 5px;

                    border-radius: 50%;
                  }

                  .channel-info {
                    overflow: hidden;

                    p {
                      line-height: 12px;
                      font-size: 12px;
                      margin: 0px 0px 0px 10px;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .channel-manager {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        height: 100%;
        width: 70%;

        border-left: $border;
        border-right: $border;

        .channel-infos {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;

          margin-left: 5px;

          height: 100%;
          width: 88%;

          .channel-name {
            height: 50%;
          }

          .channel-users-container {
            height: 50%;
            width: 100%;
            cursor: pointer;
            position: relative;

            .channel-users-count {
              height: 100%;
              width: 100%;
              border-radius: 5px;

              &:hover {
                outline: $border;
              }
            }

            .popup-container {
              // position: absolute;

              // top: 102%;
              height: 40vh;
              width: 100%;

              .invited {
                // position: absolute;
                // top: 0%;
                // left: 100%;
                height: 10vh;

                display: flex;
                justify-content: center;
                align-items: center;

                border: $border;
                border-radius: 5px;

                text-align: center;
                text-transform: uppercase;
                word-wrap: break-word;
              }

              .channel-users-popup {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                height: max-content;
                max-height: 100%;
                width: 100%;

                overflow-y: scroll;

                border-radius: 5px;

                border: $border;

                .filter-users {
                  height: 30px;
                  padding: 10px;
                  outline: none;
                }

                .users-list {
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-start;

                  overflow-x: hidden;

                  .user-container {
                    position: relative;
                    border-top: $border;

                    cursor: pointer;

                    .user {
                      display: flex;
                      flex-direction: row;
                      justify-content: flex-start;
                      align-items: center;

                      transition: background-color 0.3s;

                      &:hover {
                        background-color: $hover-color;
                      }

                      .profile-picture {
                        width: 30%;
                        height: auto;
                        margin: 5px 0px 5px 5px;

                        border-radius: 50%;
                        box-shadow: 7px 10px 10px -6px rgba(0, 0, 0, 0.72);
                      }

                      .username {
                        margin: 0px 0px 0px 10px;
                      }
                    }
                  }
                }

                .invite-user {
                  text-align: center;
                  border-top: $border;

                  &:hover {
                    background-color: $hover-color;
                  }
                }
              }

              .user-actions {
                // position: absolute;

                // top: 0%;
                // left: 100%;

                width: 10rem;

                border-radius: 5px;
                border: $border;

                text-align: center;
                word-wrap: break-word;

                h4 {
                  text-transform: uppercase; //?
                  margin: 0px;
                  border-bottom: $border;
                  cursor: default;
                }

                .kick:hover,
                .ban:hover,
                .mute:hover,
                .promote:hover,
                .unban:hover,
                .unmute:hover,
                .demote:hover,
                .dm:hover,
                .invite-to-play:hover,
                .block-user:hover {
                  background-color: $hover-color;
                }
                
                .ban {
                  border-bottom: $border; 
                }

                .unban {
                  border-bottom: $border; 
                }

                .kick {
                  border-bottom: $border; 
                }

                .mute {
                  border-bottom: $border; 
                }

                .unmute {
                  border-bottom: $border; 
                }

                .promote {
                  border-bottom: $border; 
                }

                .demote {
                  border-bottom: $border; 
                }

                .dm {
                  border-bottom: $border; 
                }

                .invite-to-play {
                  border-bottom: $border; 
                }

                .block-user {
                }
              }
            }
          }
        }

        .manage {
          position: relative;

          width: 12%;
          height: 100%;

          cursor: pointer;

          img {
            height: 50%;
            width: auto;

            margin: 5px 5px 0 0;
          }

          .channel-popup {
            display: flex;
            flex-direction: column;

            p {
              color: $font-color;
            }
            
            position: relative;
            top: 100%;
            left: -150%;

            height: fit-content;
            width: 100px;


            border-radius: 5px;
            border: $border;

            cursor: auto;

            .channel-description {
              font-size: 10px;
              border-bottom: $border;
            }

            .images {
              display: flex;
              flex-direction: row;
              justify-content: center;
              border-bottom: $border;

              img {
                height: auto;
                width: 30%;
                
                padding: 2px;
                margin: 1px 1px 1px 1px;
                border-radius: 50px;
                cursor: pointer;
                transition: filter 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
        
                &::before,
                &::after {
                  content: '';
                  // position: absolute;
                  width: 100%;
                  height: 100%;
                  border-radius: inherit;
                  opacity: 0;
                  transition: opacity 0.5s ease-in-out;
                  pointer-events: none;
                }
        
                &::before {
                  top: 0;
                  left: 0;
                  filter: blur(20px);
                }
        
                &::after {
                  bottom: 0;
                  right: 0;
                  filter: blur(20px);
                }
        
                &:hover {
                  filter: invert(100%);
        
                  &::before,
                  &::after {
                    opacity: 1;
                  }
                }
              }
            }

            .password-input {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              height: 20%;
              border-bottom: $border;

              input {
                height: 80%;
                width: 90%;

                margin: 2px 0 2px 0;
                font-size: 0.8rem;

                border: $border;
                border-radius: 5px;
              }
            }

            .validate {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              flex-grow: 1;

              width: 100%;

              text-align: center;
              overflow: hidden;

              border-bottom: $border;

              p {
                margin: 0;
                cursor: pointer;
                transition: transform 0.3s;

                &:hover {
                  transform: scale(1.05);
                }
              }
            }

            .quit-channel {
              text-align: center;
              overflow: hidden;

              p {
                cursor: pointer;

                margin: 0;
                border-radius: 5px;
                border: $border;

                transition: background-color;

                &:hover {
                  background-color: rgba(255, 0, 0, 0.7);
                }
              }
            }
          }
        }
      }

      .channel-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 100%;
        width: 17%;

        border-radius: 0px 10px 0px 0px;

        img {

          height: 80%;
          width: auto;

          border-radius: 50%;
        }

      }
    }

    .messages-container {
      height: 100%;
      width: 100%;

      overflow-y: scroll;
      z-index: 1;


      // Style the scrollbar
      scrollbar-color: transparent rgba(128, 128, 128, 0.2); // Transparent thumb, gray background

      &:hover {
        scrollbar-color: rgba(128, 128, 128, 0.6) rgba(0, 0, 0, 0.2); // Show scrollbar thumb and border on hover
      }

      &::-webkit-scrollbar {
        width: 10px; // Adjust the width as needed
      }

      &::-webkit-scrollbar-track {
        background-color: rgba(128, 128, 128, 0.2); // Gray transparent background
      }

      &::-webkit-scrollbar-thumb {
        background-color: transparent; // Transparent scrollbar thumb
        border-radius: 5px; // Rounded corners for the thumb
        border: 2px solid rgba(0, 0, 0, 0); // Hide the border initially
      }

      &:hover {
        &::-webkit-scrollbar-thumb {
          background-color: rgba(128, 128, 128, 0.6); // Show scrollbar thumb on hover
          border-color: rgba(0, 0, 0, 0.2); // Show border on hover
        }
      }

      .denied {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        // width: 10vw;
        height: 10vh;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: red;

        border: $border;
        border-radius: 5px;

        text-align: center;
        text-transform: uppercase;
        word-wrap: break-word;
      }

      .message-container {
        display: flex;
        flex-direction: column;

        img {
          height: auto;
          width: 8%;
          border-radius: 50%;
          margin: 20px 0 0 5px;
        }

        .message-self,
        .message-other {
          display: inline-block;

          word-wrap: break-word;
          width: fit-content;
          max-width: 70%;

          p {
            color: $font-color;
            box-shadow: 8px -8px 10px -7px rgba(0, 0, 0, 0.4);
            border-radius: 8px;
            margin-top: 5px;
            margin-bottom: 5px;
            padding: 5px;
          }
        }

        .message-self {
          align-self: flex-end;
          margin-right: 5px;

          p {
            background-color: rgba(0, 69, 0, 0.5);
          }
        }

        .message-other {
          align-self: flex-start;
          margin-left: 5px;

          p {
            background-color: rgba(0, 30, 69, 0.5);
          }
        }
      }
    }
  }

  .chatbar-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    height: 50px;
    width: 100%;

    border-bottom-right-radius: 10px;

    z-index: 1;

    .text {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background: transparent;

      height: 100%;
      width: 100%;

      .text-input {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        height: 80%;
        width: 90%;

        border: $border;
        background: transparent;

        border-radius:20px;
        box-shadow: 5px 10px 10px -5px rgba(0, 0, 0, 0.8);

        input {
          flex: 1;
          background: transparent;

          height: 100%;
          width: 100%;

          padding: 10px 15px;

          font-size: 1rem;
          color: $font-color;

          outline: none;
        }

        .text-send {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          height: 100%;
          width: 8%;

          margin-right: 5px;

          .arrow-img {
            max-height: 80%;
            max-width: 100%;
            filter: invert(70%);
          }
        }
      }
    }
}
