.chat-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;

	background-color: red;

	height: 100vh;
	width: 100vw;

	.metadata-container {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;

		height: 5vh;
		width: 20vw;

		background-color: blue;

		.more {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

			height: 100%;
			width: 13%;

			background-color: green;
      
      .plus-symbol {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &::before,
        &::after {
          position: absolute;

          content: '';

          width: 50%;
          height: 4%;

          background-color: black;
        }
      
        &::before {
          transform: rotate(90deg);
        }
      
        &::after {
          transform: rotate(180deg);
        }
      }
      
		}

		.metadata {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;

			height: 100%;
			width: 90%;

			background-color: blueviolet;

			.chat-info {
				height: 100%;
				width: 100%;

				background-color: lime;
			}

			.chat-icon {
				height: 100%;
				width: 17%;

				background-color: deeppink;
			}
		}
	}

	.messages-container {
		height: 50vh;
		width: 20vw;

		background-color: pink;

		.message {}
	}

	.chatbar-container {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;

		height: 5vh;
		width: 20vw;

		background-color: white;

		.text {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			height: 100%;
			width: 85%;

			.text-input {
				display: flex;
				flex-direction: row;
				justify-content: flex-end;
				align-items: center;

				height: 80%;
				width: 90%;

				border-radius: 5rem;
				box-shadow: 5px 10px 10px -5px rgba(0, 0, 0, .8);

				input {
					flex: 1;

					height: 100%;
					width: 100%;

					background: transparent;

					padding: 0 1rem;

					font-size: 1rem;
					color: #333;

					outline: none;
					border: none;
				}

				.text-send {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;

					height: 100%;
					width: 8%;

					margin-right: 15px;

					.arrow-img {
						max-height: 80%;
						max-width: 100%;
					}
				}
			}

		}

		.toggler {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			height: 100%;
			width: 15%;

			cursor: pointer;

			.arrow-img {
				max-height: 100%;
				max-width: 100%;
			}
		}
	}
}