.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page-container {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.video {
  position: absolute;
  z-index: 20;
  width: auto;
  object-fit: cover;
  transition: opacity 2s ease-in-out; /* Adjust the duration as desired */
  background-color: black; /* Set the default background color to black */
}

.video.fade-in {
  opacity: 1;
}

.video.fade-out {
  opacity: 0;
}

.background-video.hide .video {
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease-in-out;
}

.background-video.show .video {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.bg-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
}

.font-dune {
  font-family: dune, sans-serif;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form-container {
  display: flex;
  flex-direction: column;
}

.login-form-label {
  border-radius: 4px;
  padding: 5px 20px;
  margin: 0px 0;
  box-sizing: border-box;
}

.edit-form-label {
  border-radius: 4px;
  text-align: left;
  padding: 5px 5px;
  margin: 0px 0px;
  /* box-sizing: border-box; */
}

.input-field:focus {
  /* Your focus styles */
  outline: 3px solid white;
}

.signup-button {
  color: black;
  background-color: white;
  /* border: 2px solid black; */
  border-radius: 4px;
  padding: 7px;
  transition-duration: 0.4s;
}

.signup-button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
  box-shadow: 1px 1px 1px 0 rgba(255, 253, 253, 0.24), 0 3px 3px 3px rgba(255, 255, 255, 0.19);
}

.save-changes-button {
  color: white;
  background-color: #4db650;
  /* border: 2px solid black; */
  border-radius: 4px;
  padding: 7px;
  transition-duration: 0.4s;
}

.save-changes-button:hover {
  background-color: #52d157; /* Green */
  color: white;
  box-shadow: 1px 1px 1px 0 rgba(255, 253, 253, 0.24), 0 3px 3px 3px rgba(255, 255, 255, 0.19);
}

.placeholder-black::placeholder {
  color: black;
}

.placeholder-gray::placeholder {
  color:  gray;
}

.required:after {
  vertical-align: super;
  font-size: small;
  content:" *";
  color: red;
}

.invalid-feedback {
  position: relative; /* Set the position to absolute */
  border: #282c34;
  top: -12%; /* Position the error message below the input */
  left: 0; /* Align the error message with the left edge of the input */
  width: 100%; /* Make the error message span the entire width of the input */
  /* background-color: #fff; Set the background color to match the input background */
  color: red; /* Set the text color for the error message */
  font-size: 10px; /* Set the font size for the error message */
  padding: 0px; /* Add padding to the error message for better visibility */
  z-index: 1; /* Set a higher z-index to position the error message above other elements */
}
