@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "DUNE";
    src: url("../public/fonts/Dune_Rise.otf");
}

@font-face {
    font-family: "YKAR";
    src: url("../public/fonts/Ykar_free_for_personal_use.otf");
}

@font-face {
    font-family: "ARTYPA";
    src: url("../public/fonts/Artypa-Regular.otf");
}

@font-face {
    font-family: "LOT";
    src: url("../public/fonts/Lot-Regular.otf");
}

#root {
    height: 100vh;
    width: 100vw;
}
