  .profile-game-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    max-width: 400px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0); /* Transparent white background */
    color: white; /* White text color */
  }

  .profile-info {
    display: flex; /* Set display to flex to horizontally align profile picture and text */
    align-items: center; /* Vertically align profile picture and text */
  }
  
  .profile-name {
    margin-right: 10px; /* Adding margin between profile name and picture */
  }

  .profile-picture-r {
    width: 100px; /* Adjust the size of the profile picture */
    height: 100px; /* Adjust the size of the profile picture */
    border-radius: 50%; /* Make the image circular */
    overflow: hidden; /* Hide any overflow content */
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 1); /* Set background color */
  }

  .profile-picture-l {
    width: 100px; /* Adjust the size of the profile picture */
    height: 100px; /* Adjust the size of the profile picture */
    border-radius: 50%; /* Make the image circular */
    overflow: hidden; /* Hide any overflow content */
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 1); /* Set background color */
  }
  
  .profile-picture img {
    width: 100%; /* Make the image fill the container */
    height: 100%; /* Make the image fill the container */
    object-fit: cover; /* Resize the image to cover the container */
  }
  
  .text-content {
    flex: 1; /* Allow the text to take up remaining space */
  }