.profile-main-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  border-radius: 20px;
  
  .profile-board-container {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    
    .profile-board-card {
      padding: 20px;
      display: flex;
      width: 100%;
      height: 100%;
      background-color: transparent;
      flex-direction: column;
      justify-content: space-between;
      gap:20px;

      .profile-board-header {
        display: flex;
        align-items: center;
        padding-left: 20px;
      }

      .icon {
        // filter: invert(100%);
      }

      .profile-pic-container {
        display: flex;
        justify-content: center;

        .profile-pic-circle {
          width: 15%;
          height: 15%;
          border-radius: 50%;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .profile-pic-circle img {
          width: 100%;
          height: 100%;
        }

        .empty-profile-pic-circle {
          width: 15%;
          height: 15%;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          font-weight: bold;
        }
      }


    }

    .profil-board-header-edit-profile {
      filter: invert(100%);
      background-color: aliceblue;
    }



    .profile-pic-upload-button {
        display: flex;
        justify-content: center;
        margin-top: 10px;

        .custom-file-input {

          font-family: "dune", Arial, sans-serif;
          background-color: rgba(0, 128, 0, 0.3);
          color: rgba(255, 255, 255, 0.7);
          border-radius: 4px;
          padding: 15px;
          transition-duration: 0.4s;
        }

        .custom-file-input:hover {
          background-color: rgba(0, 128, 0, 1);
          /* Green */
          color: rgba(255, 255, 255, 0.7);
        }
      }


    .information-display-main {
      display: flex;
      justify-content: space-evenly;

      .data-fields-name-main {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: left;
        width: 150px;

        @mixin data-fields-name-sub {
          font-family: "dune", Arial, sans-serif;
          font-size: 12px;
          font-weight: bold;
          color: rgba(255, 255, 255, 0.7);
          display: flex;
          align-items: center;

        }

        .data-fields-name-sub-first {
          @include data-fields-name-sub;
        }

        .data-fields-name-sub-others {
          @include data-fields-name-sub;
        }

      }

      .data-values-main {
        font-family: "Reboto", Arial, sans-serif;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.7);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: left;

        @mixin data-values-sub {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .data-values-sub-first {
          @include data-values-sub;
        }

        .data-values-sub-others {
          @include data-values-sub;
        }
      }

      .data-values-input-main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap:10px;
        text-align: left;
        
        @mixin data-values-input-sub {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          color: rgba(255, 255, 255, 0.3);
        }
        
        .data-values-input-sub-first {
          @include data-values-input-sub;
          width: 100%;
          height: 33px;
          padding-top: 10px;
        }
        
        .data-values-input-sub-second {
          width: 100%;
          height: 33px;
          padding-top: 10px;
        }
        
        .data-values-input-sub-others {
          width: 100%;
          height: 33px;
          padding-top: 10px;
        }
      }

      .save-button {
        display: flex;
        justify-content: right;
        margin-top: 10px;

        .save-changes-button {
          color: rgba(255, 255, 255, 0.7);
          background-color: rgba(0, 128, 0, 0.3);
          border-radius: 4px;
          padding: 15px;
          transition-duration: 0.4s;
          font-family: "dune", Arial, sans-serif;
        }

        .save-changes-button:hover {
          background-color: rgba(0, 128, 0, 1);
          /* Green */
          color: rgba(255, 255, 255, 0.7);
        }
      }

    }

    .stats-first-container {
      @mixin fields-name-sub-font-color {
        font-family: "dune", Arial, sans-serif;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.7);
      }

      display: flex;
      text-align: center;

      .stats-first-sub-container {
        @include fields-name-sub-font-color;
        justify-content: center;
        width: 100%;
      }
    }

    .stats-second-container {
      @mixin fields-name-sub-font-color {
        font-family: "dune", Arial, sans-serif;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.7);
      }

      display: flex;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;

      .stats-second-sub-container {
        @include fields-name-sub-font-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 100%;

        .test {
          display: flex;
          align-items: center;
          align-content: center;
        }
      }
    }
  }
}
