$png-background-color: rgba(250, 250, 250, 0.5);

.profile-board-container {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  padding: 20px;
  background-color: transparent;

  .profile-board-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    align-self: start;
    padding-left: 20px;
    padding-top: 20px;
  }

  .profile-pic-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

    .profile-pic-circle img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $png-background-color;
      object-fit: cover;
      object-position: center;
    }

    .empty-profile-pic-circle img {
      width: 120px;
      height: 120px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-weight: bold;
    }
  }

  .profil-board-header-edit-profile {
    filter: invert(100%);
    background-color: aliceblue;
  }

  .profile-pic-upload-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    .custom-file-input {
      font-family: 'dune', Arial, sans-serif;
      background-color: rgba(0, 128, 0, 0.3);
      color: rgba(255, 255, 255, 0.7);
      border-radius: 4px;
      padding: 15px;
      transition-duration: 0.4s;
    }

    .custom-file-input:hover {
      background-color: rgba(0, 128, 0, 1);
      /* Green */
      color: rgba(255, 255, 255, 0.7);
    }
  }

  .information-display-main {
    display: flex;
    justify-content: space-evenly;

    .data-fields {
      display: 'flex';
      flex-direction: 'column';
    }

    .data-fields-name-main {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      text-align: left;
      align-content: right;
      width: 50%;

      @mixin data-fields-name-sub {
        font-family: 'dune', Arial, sans-serif;
        font-size: 12px;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.7);
        display: flex;
        align-items: center;
        width: 150px;
      }

      .data-fields-name-sub-first {
        @include data-fields-name-sub;
      }

      .data-fields-name-sub-others {
        @include data-fields-name-sub;
      }
    }

    .data-values-main {
      font-family: 'Reboto', Arial, sans-serif;
      font-weight: bold;
      color: rgba(255, 255, 255, 0.7);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      text-align: left;
      width: 50%;

      @mixin data-values-sub {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .data-values-sub-first {
        @include data-values-sub;
      }

      .data-values-sub-others {
        @include data-values-sub;
      }
      .data-values-sub-first,
      .data-values-sub-others {
        display: block;
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .data-values-input-main {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
      text-align: left;

      @mixin data-values-input-sub {
        min-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: rgba(255, 255, 255, 0.3);
      }

      .data-values-input-sub-first {
        @include data-values-input-sub;
        width: 100%;
        height: 33px;
        padding-top: 5px;
        padding-bottom: 0px;
      }

      .data-values-input-sub-second {
        width: 100%;
        height: 33px;
      }

      .data-values-input-sub-others {
        width: 100%;
        height: 33px;
      }
      .data-values-input-sub-first,
      .data-values-input-sub-second,
      .data-values-input-sub-others {
        display: block;
        width: 250px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .save-button {
      display: flex;
      justify-content: right;
      margin-top: 10px;
      min-height: 20px;

      .save-changes-button {
        color: rgba(255, 255, 255, 0.7);
        background-color: rgba(0, 128, 0, 0.3);
        border-radius: 4px;
        padding: 15px;
        transition-duration: 0.4s;
        font-family: 'dune', Arial, sans-serif;
      }

      .save-changes-button:hover {
        background-color: rgba(0, 128, 0, 1);
        /* Green */
        color: rgba(255, 255, 255, 0.7);
      }
    }
    .activate-and-deactivate {
      display: flex;
      justify-content: left;
      margin-top: 10px;
      min-height: 20px;

      .activate-deactivate-button,
      .deactivate {
        min-width: 200px;
        color: rgba(255, 255, 255, 0.7);
        background-color: rgba(0, 128, 0, 0.3);
        border-radius: 4px;
        padding: 15px;
        transition-duration: 0.4s;
        font-family: 'dune', Arial, sans-serif;

        &:hover {
          background-color: rgba(0, 128, 0, 1);
        }
      }

      .deactivate {
        background-color: rgba(199, 28, 50, 0.3);

        &:hover {
          background-color: rgba(199, 28, 50, 1);
        }
      }
    }
  }

  .stats-first-container {
    @mixin fields-name-sub-font-color {
      font-family: 'dune', Arial, sans-serif;
      font-weight: bold;
      color: rgba(255, 255, 255, 0.7);
    }

    display: flex;
    flex-direction: column;

    .stats-first-sub-container {
      @include fields-name-sub-font-color;
      justify-content: center;
      width: 100%;
    }
  }

  .stats-second-container {
    @mixin fields-name-sub-font-color {
      font-family: 'dune', Arial, sans-serif;
      font-weight: bold;
      color: rgba(255, 255, 255, 0.7);
    }

    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;

    .stats-second-sub-container {
      @include fields-name-sub-font-color;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
      width: 100%;

      .test {
        display: flex;
        align-items: center;
        align-content: center;
      }
    }
  }
}