.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  background-color: black;

  height: 100vh;
  width: 100vw;

  .toggler {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    transition: height 1s ease;

    .metadata-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      height: 5vh;
      width: 20vw;

      background-color: blue;

      .more {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: relative;

        height: 100%;
        width: 13%;

        background-color: white;

        .more-symbol-container {
          height: 100%;
          width: 100%;

          cursor: pointer;

          .more-symbol {
            height: 100%;
            width: 100%;

            span {
              display: block;
              position: relative;

              width: 50%;
              height: 4%;

              top: 50%;
              left: 25%;

              content: ' ';

              background: black;
              transition: all 250ms ease-in-out;
            }

            span:before {
              display: block;
              position: relative;

              width: 100%;
              height: 100%;

              top: -5px;
              left: 0px;

              content: ' ';

              background: black;
              transition: all 250ms ease-in-out;
            }

            span:after {
              display: block;
              position: relative;

              width: 100%;
              height: 100%;

              top: 3px;
              left: 0px;

              content: ' ';

              background: black;
              transition: all 250ms ease-in-out;
            }

            &.active span {
              background-color: transparent;
            }

            &.active span:before {
              top: 0;
              transform: rotate(45deg);
            }

            &.active span:after {
              top: -100%;
              transform: rotate(-45deg);
            }
          }
        }

        .more-popup {
          position: absolute;
          top: 100%;
          left: 0%;

          height: max-content;
          width: max-content;

          .contents {
            text-align: center;

            p {
              display: flex;
              justify-content: center;
              align-content: center;
              flex-direction: column;

              height: 4vh;
              width: 9vw;

              background-color: white;
              border: 1px solid gray;

              margin: 2px;
              cursor: pointer;

              border-radius: 5px;
              font-size: 12px;

              transition: transform 0.3s;

              &:hover {
                transform: scale(1.05);
              }
            }
          }

          .channel-creation-popup {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            position: absolute;
            top: 0%;
            left: 102%;
            margin-top: 2px;

            background: #A9A9A9;
            border-radius: 5px;
            border: 1px solid gray;

            height: 15vh;
            width: 10vw;

            .icons {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;

              border-bottom: 2px solid black;
              border-radius: 5px 5px 0px 0px;
              background: #A9A9A9;

              height: 40%;
              width: 100%;

              .selected-text {
                width: 55%;

                .type {
                  margin: 0px 0px 1px 0px;
                  font-size: 10px;
                }

                .description {
                  font-size: 8px;
                  word-wrap: break-word;
                  line-height: 5px;
                  margin: 0px;
                }
              }

              .images {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;

                height: 70%;
                width: 60%;

                img {
                  background-color: gray;

                  height: auto;
                  width: 80%;

                  padding: 2px;
                  margin: 1px 1px 1px 1px;

                  border: 1px solid black;
                  border-radius: 2px;

                  cursor: pointer;
                  transition: transform 0.3s;

                  &:hover {
                    transform: scale(1.2);
                  }
                }
              }

              .public {}

              .private {}

              .protected {}
            }

            .channel-name {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              height: 20%;
              border-bottom: 2px solid black;

              input {
                height: 80%;
                width: 90%;

                font-size: 0.8rem;

                border: 1px solid black;
                border-radius: 5px;
              }
            }

            .password-input {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              height: 20%;
              border-bottom: 2px solid black;

              input {
                height: 80%;
                width: 90%;

                font-size: 0.8rem;

                border: 1px solid black;
                border-radius: 5px;
              }
            }

            .validate {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              height: 20%;
              width: 100%;

              p {
                margin: 0px;
                cursor: pointer;
                transition: transform 0.3s;

                &:hover {
                  transform: scale(1.05);
                }
              }
            }

          }

          .dm-popup {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            position: absolute;
            top: 25%;
            left: 102%;

            height: max-content;
            width: 10vw;

            overflow-y: scroll;

            background-color: white;
            border-radius: 5px;
            border: 1px solid lightgray;

            .users-list {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;

              overflow-x: hidden;

              z-index: 10;

              .user-container {
                border-bottom: 1px solid lightgray;

                cursor: pointer;

                .user {
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-start;
                  align-items: center;

                  transition: transform 0.3s;

                  &:hover {
                    transform: scale(1.05);
                  }

                  .profile-picture {
                    width: 30%;
                    height: auto;
                    margin: 5px 0px 5px 5px;

                    border-radius: 50%;
                    box-shadow: 7px 10px 10px -6px rgba(0, 0, 0, 0.72);

                  }

                  .username {
                    margin: 0px 0px 0px 10px;
                  }
                }

              }

            }
          }

          .restrict-popup {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            background: green;

            position: absolute;
            top: 50%;
            left: 102%;

            height: max-content;
            width: 10vw;

            overflow-y: scroll;

            background-color: white;
            border-radius: 5px;
            border: 1px solid lightgray;

            .users-list {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;

              overflow-x: hidden;

              z-index: 10;

              .user-container {
                border-bottom: 1px solid lightgray;

                cursor: pointer;

                .user {
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-start;
                  align-items: center;

                  transition: transform 0.3s;

                  &:hover {
                    transform: scale(1.05);
                  }

                  .profile-picture {
                    width: 30%;
                    height: auto;
                    margin: 5px 0px 5px 5px;

                    border-radius: 50%;
                    box-shadow: 7px 10px 10px -6px rgba(0, 0, 0, 0.72);

                  }

                  .username {
                    margin: 0px 0px 0px 10px;
                  }
                }

              }

            }
          }

          .channel-list-popup {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            background: green;

            position: absolute;
            top: 75%;
            left: 102%;

            width: 100%;
            max-height: 80%;

            overflow-y: scroll;
          }

        }

      }

      .channel-manager {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        height: 100%;
        width: 100%;

        .manage {
          width: 8%;
          height: auto;
        }

        background-color: lime;
      }

      .channel-icon {
        height: 100%;
        width: 17%;

        background-color: deeppink;
      }
    }

    .messages-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      height: 100%;
      width: 20vw;

      overflow-y: scroll;
      background-color: #E8EBF5;

      .message-self,
      .message-other {
        display: inline-block;

        box-shadow: 8px -8px 10px -7px rgba(0, 0, 0, .4);

        word-wrap: break-word;
        max-width: 70%;

        border-radius: 8px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 5px;
      }

      .message-self {
        align-self: flex-end;
        background-color: limegreen;

        margin-right: 5px;
      }

      .message-other {
        align-self: flex-start;

        background-color: gray;
        margin-left: 5px;
      }
    }

  }

  .chatbar-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    height: 5vh;
    width: 20vw;

    background-color: white;
    z-index: 1;

    .text {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      height: 100%;
      width: 85%;

      .text-input {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        height: 80%;
        width: 90%;

        border-radius: 5rem;
        box-shadow: 5px 10px 10px -5px rgba(0, 0, 0, .8);

        input {
          flex: 1;

          height: 100%;
          width: 100%;

          background: transparent;

          padding: 0 1rem;

          font-size: 1rem;
          color: #333;

          outline: none;
          border: none;
        }

        .text-send {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          height: 100%;
          width: 8%;

          margin-right: 15px;

          .arrow-img {
            max-height: 80%;
            max-width: 100%;
          }
        }
      }

    }

    .toggler {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      height: 100%;
      width: 15%;

      cursor: pointer;

      .arrow-img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }
}