.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  height: 100vh;
  width: 100vw;

  .toggler {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    transition: height 1s ease;

    height: 50vh;

    .metadata-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      height: 10%;
      width: 35vh;

      z-index: 2;

      .more {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: relative;

        height: 100%;
        width: 13%;
        min-width: 13%;

        background-color: #749bc2;

        .more-symbol-container {
          height: 100%;
          width: 100%;

          cursor: pointer;
          z-index: 5;

          .more-symbol {
            height: 100%;
            width: 100%;

            span {
              display: block;
              position: relative;

              width: 50%;
              height: 4%;

              top: 50%;
              left: 25%;

              content: " ";

              background: black;
              transition: all 250ms ease-in-out;
            }

            span:before {
              display: block;
              position: relative;

              width: 100%;
              height: 100%;

              top: -5px;
              left: 0px;

              content: " ";

              background: black;
              transition: all 250ms ease-in-out;
            }

            span:after {
              display: block;
              position: relative;

              width: 100%;
              height: 100%;

              top: 3px;
              left: 0px;

              content: " ";

              background: black;
              transition: all 250ms ease-in-out;
            }

            &.active span {
              background-color: transparent;
            }

            &.active span:before {
              top: 0;
              transform: rotate(45deg);
            }

            &.active span:after {
              top: -100%;
              transform: rotate(-45deg);
            }
          }
        }

        .more-popup {
          position: absolute;
          top: 100%;
          left: 0%;

          height: max-content;
          width: max-content;

          .contents {
            text-align: center;

            p {
              display: flex;
              justify-content: center;
              align-content: center;
              flex-direction: column;

              height: 4vh;
              width: 9vw;
              min-width: 80px;
              min-height: 50px;

              background-color: white;
              border: 1px solid gray;

              margin: 2px;
              cursor: pointer;

              border-radius: 5px;
              font-size: 12px;

              transition: transform 0.3s;

              &:hover {
                transform: scale(1.05);
                background-color: #c9c9c9;
              }
            }
          }

          .password-popup {
            position: fixed;

            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            background-color: white;

            border-radius: 5px;
            z-index: 10;

            .password-popup-content {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              text-align: center;

              .infos {
                input {
                  width: 90%;

                  margin-bottom: 10px;
                  padding: 8px;

                  border: 1px solid lightgray;
                  border-radius: 5px;
                }
              }

              .buttons {
                button {
                  padding: 8px 16px;
                  border: none;
                  border-radius: 5px;
                  cursor: pointer;
                  margin: 5px;
                }

                .cancel {
                  background-color: lightgray;

                  &:hover {
                    color: white;
                    background-color: #dd3c49;
                  }
                }

                .validate {
                  background-color: blue;
                  color: white;

                  &:hover {
                    color: white;
                    background-color: green;
                  }
                }
              }
            }
          }

          .channel-creation-popup {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            position: absolute;
            top: 0%;
            left: 102%;
            margin-top: 2px;

            background: #a9a9a9;
            border-radius: 5px;
            border: 1px solid gray;

            height: 15vh;
            width: 10vw;

            .icons {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;

              border-bottom: 2px solid black;
              border-radius: 5px 5px 0px 0px;
              background: #a9a9a9;

              height: 40%;
              width: 100%;

              .selected-text {
                width: 55%;

                .type {
                  margin: 0px 0px 1px 0px;
                  font-size: 10px;
                }

                .description {
                  font-size: 8px;
                  word-wrap: break-word;
                  line-height: 10px;
                  margin: 0px;
                }
              }

              .images {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;

                height: 70%;
                width: 60%;

                img {
                  background-color: gray;

                  height: auto;
                  width: calc(100% / 3);
                  overflow-x: hidden;

                  padding: 2px;
                  margin: 1px 1px 1px 1px;

                  border: 1px solid black;
                  border-radius: 2px;

                  cursor: pointer;
                  transition: transform 0.3s;

                  &.selected {
                    background-color: #5e5e5e;
                  }

                  &:hover {
                    transform: scale(1.2);
                  }
                }
              }
            }

            .channel-name {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              height: 20%;
              border-bottom: 2px solid black;

              input {
                height: 80%;
                width: 90%;

                font-size: 0.8rem;

                border: 1px solid black;
                border-radius: 5px;
              }
            }

            .password-input {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              height: 20%;
              border-bottom: 2px solid black;

              input {
                height: 80%;
                width: 90%;

                font-size: 0.8rem;

                border: 1px solid black;
                border-radius: 5px;
              }
            }

            .validate {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              flex-grow: 1;
              width: 100%;

              p {
                margin: 0px;
                cursor: pointer;
                transition: transform 0.3s;

                &:hover {
                  transform: scale(1.05);
                }
              }
            }
          }

          .all-users-popup {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            position: absolute;
            top: calc(100% / 3);
            left: 102%;

            height: max-content;
            max-height: 20vw;
            width: 10vw;
            min-width: 130px;
            min-height: 180px;

            background-color: white;
            border-radius: 5px;
            border: 1px solid lightgray;

            .filter-users {
              padding: 10px;
              border: none;
              border-bottom: 1px solid lightgray;
              outline: none;
            }

            .users-list {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;

              overflow-x: hidden;

              z-index: 10;

              .user-container {
                border-bottom: 1px solid lightgray;

                cursor: pointer;

                .user {
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-start;
                  align-items: center;

                  transition: background-color;

                  &:hover {
                    background-color: #c9c9c9;
                  }

                  .profile-picture {
                    width: 30%;
                    height: auto;
                    margin: 5px 0px 5px 5px;
                    object-fit: cover;

                    border-radius: 50%;
                    box-shadow: 7px 10px 10px -6px rgba(0, 0, 0, 0.72);
                  }

                  .username {
                    width: 70%;
                    margin: 0px 0px 0px 10px;
                  }
                }
              }
            }

            .user-actions {
              position: absolute;

              top: 0%;
              left: 100%;

              width: 10rem;
              background-color: white;

              border-radius: 5px;
              border: 1px solid lightgray;

              text-align: center;
              word-wrap: break-word;

              h4 {
                text-transform: uppercase;
                margin: 0px;
                border-bottom: 1px solid lightgray;
              }

              .dm:hover,
              .invite-to-play:hover,
              .block-user:hover {
                background-color: #c9c9c9;
              }

              .dm {
                border-bottom: 1px solid lightgray;
              }

              .invite-to-play {
                border-bottom: 1px solid lightgray;
              }

              .block-user {}
            }
          }

          .channel-list-popup {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            position: absolute;
            top: calc(100% / 3 * 2);
            left: 102%;

            height: max-content;
            max-height: 200px;
            width: 10vw;

            overflow-x: hidden;
            overflow-y: scroll;

            background-color: white;
            border-radius: 5px;
            border: 1px solid lightgray;

            .filter-channels {
              padding: 10px;
              border: none;
              border-bottom: 1px solid lightgray;
              outline: none;
            }

            .channel-list {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;

              z-index: 10;

              .channel-container {
                border-bottom: 1px solid lightgray;
                cursor: pointer;

                .channel {
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-start;
                  align-items: center;

                  transition: background-color;

                  &:hover {
                    background-color: #c9c9c9;
                  }

                  .type-picture {
                    width: 15%;
                    min-width: 15%;
                    height: auto;

                    margin: 5px 0px 5px 5px;

                    border-radius: 50%;
                  }

                  .channel-info {
                    overflow: hidden;

                    p {
                      line-height: 12px;
                      font-size: 12px;
                      margin: 0px 0px 0px 10px;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .channel-manager {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        height: 100%;
        width: 70%;

        background-color: #91c8e4;
        border-left: 2px solid black;
        border-right: 2px solid black;

        .channel-infos {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;

          margin-left: 5px;

          height: 100%;
          width: 88%;

          .channel-name {
            height: 50%;
            overflow: hidden;
          }

          .channel-users-container {
            height: 50%;
            width: 100%;
            cursor: pointer;
            position: relative;

            .channel-users-count {
              height: 100%;
              width: 100%;
              border-radius: 5px;

              &:hover {
                outline: 1px solid gray;
                background-color: #4682a9;
              }
            }

            .popup-container {
              position: absolute;

              top: 102%;
              height: 40vh;
              width: 100%;

              .invited {
                position: absolute;
                top: 0%;
                left: 100%;
                width: 10vw;
                height: 10vh;

                display: flex;
                justify-content: center;
                align-items: center;

                background-color: white;

                border: 1px solid lightgray;
                border-radius: 5px;

                text-align: center;
                text-transform: uppercase;
                word-wrap: break-word;
              }

              .channel-users-popup {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                height: max-content;
                max-height: 100%;
                width: 100%;

                overflow-y: scroll;

                background-color: white;
                border-radius: 5px;

                border: 1px solid lightgray;

                .filter-users {
                  height: 30px;
                  padding: 10px;
                  border: none;
                  outline: none;
                }

                .users-list {
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-start;

                  overflow-x: hidden;

                  .user-container {
                    position: relative;
                    border-top: 1px solid lightgray;

                    cursor: pointer;

                    .user {
                      display: flex;
                      flex-direction: row;
                      justify-content: flex-start;
                      align-items: center;

                      transition: background-color 0.3s;

                      &:hover {
                        background-color: #c9c9c9;
                      }

                      .profile-picture {
                        width: 30%;
                        height: auto;
                        margin: 5px 0px 5px 5px;

                        border-radius: 50%;
                        box-shadow: 7px 10px 10px -6px rgba(0, 0, 0, 0.72);
                      }

                      .username {
                        margin: 0px 10px 0px 10px;
                      }

                      .role-picture {
                        width: 10%;
                        height: auto;
                      }
                    }
                  }
                }

                .invite-user {
                  text-align: center;
                  background-color: white;
                  border-top: 1px solid lightgray;

                  &:hover {
                    background-color: #c9c9c9;
                  }
                }
              }

              .user-actions {
                position: absolute;

                top: 0%;
                left: 100%;

                width: 10rem;
                background-color: white;

                border-radius: 5px;
                border: 1px solid lightgray;

                text-align: center;
                word-wrap: break-word;

                h4 {
                  text-transform: uppercase; //?
                  margin: 0px;
                  border-bottom: 1px solid lightgray;
                  cursor: default;
                }

                .kick:hover,
                .ban:hover,
                .mute:hover,
                .promote:hover,
                .unban:hover,
                .unmute:hover,
                .demote:hover,
                .dm:hover,
                .invite-to-play:hover,
                .block-user:hover {
                  background-color: #c9c9c9;
                }

                .ban {
                  border-bottom: 1px solid lightgray;
                }

                .unban {
                  border-bottom: 1px solid lightgray;
                }

                .kick {
                  border-bottom: 1px solid lightgray;
                }

                .mute {
                  border-bottom: 1px solid lightgray;
                }

                .unmute {
                  border-bottom: 1px solid lightgray;
                }

                .promote {
                  border-bottom: 1px solid lightgray;
                }

                .demote {
                  border-bottom: 1px solid lightgray;
                }

                .dm {
                  border-bottom: 1px solid lightgray;
                }

                .invite-to-play {
                  border-bottom: 1px solid lightgray;
                }

                .block-user {}
              }
            }
          }
        }

        .manage {
          position: relative;

          width: 12%;
          height: 100%;

          cursor: pointer;

          img {
            height: 50%;
            width: auto;

            margin: 5px 5px 0 0;
          }

          .channel-popup {
            display: flex;
            flex-direction: column;

            position: absolute;

            background-color: #a9a9a9;

            height: fit-content;
            width: 150px;

            top: 100%;
            left: -100%;

            border-radius: 5px;
            border: 1px solid gray;

            cursor: auto;

            input {
              outline: none;
              margin: 5px;
              padding: 5px;
              border-radius: 5px;

              border-bottom: 2px solid black;
            }

            .confirm {
              text-align: center;

              border-top: 2px solid black;
              border-bottom: 2px solid black;

              button {
                margin: 5px;
                padding: 5px;
                border-radius: 5px;

                border-top: 1px solid lightgray;
                border-left: 1px solid lightgray;
                border-right: 1px solid lightgray;
                border-bottom: 2px solid black;

                transition: background-color;

                &:hover {
                  background-color: #05b805;
                }
              }
            }

            .quit-channel {
              text-align: center;

              button {
                cursor: pointer;

                margin: 5px;
                padding: 5px;
                border-radius: 5px;

                border-top: 1px solid lightgray;
                border-left: 1px solid lightgray;
                border-right: 1px solid lightgray;
                border-bottom: 2px solid black;

                transition: background-color;

                &:hover {
                  background-color: #dd3c49;
                }
              }
            }
          }
        }
      }

      .channel-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 100%;
        width: 17%;

        border-radius: 0px 10px 0px 0px;

        img {
          background-color: #f6f4eb;

          height: 80%;
          width: auto;

          border-radius: 50%;
        }

        background-color: #749bc2;
      }
    }

    .messages-container {
      height: 100%;
      width: 35vh;

      overflow-y: scroll;
      background-color: #f6f4eb;
      z-index: 1;

      .denied {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 10vw;
        height: 10vh;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: red;

        border: 1px solid lightgray;
        border-radius: 5px;

        color: white;
        text-align: center;
        text-transform: uppercase;
        word-wrap: break-word;
      }

      .message-container {
        display: flex;
        flex-direction: column;

        img {
          height: auto;
          width: 8%;
          border-radius: 50%;
          margin: 20px 0 0 5px;
        }

        .message-self,
        .message-other {
          display: inline-block;

          word-wrap: break-word;
          width: fit-content;
          max-width: 70%;

          p {
            box-shadow: 8px -8px 10px -7px rgba(0, 0, 0, 0.4);
            border-radius: 8px;
            margin-top: 5px;
            margin-bottom: 5px;
            padding: 5px;
          }
        }

        .message-self {
          align-self: flex-end;

          p {
            background-color: limegreen;
          }

          margin-right: 5px;
        }

        .message-other {
          align-self: flex-start;

          p {
            background-color: gray;
          }

          margin-left: 5px;
        }
      }
    }
  }

  .chatbar-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    height: 5vh;
    width: 35vh;

    background-color: #4682a9;

    border-bottom-right-radius: 10px;

    z-index: 1;

    .text {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      height: 100%;
      width: 85%;

      .text-input {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        height: 80%;
        width: 90%;

        background-color: #f6f4eb;

        border-radius: 5rem;
        box-shadow: 5px 10px 10px -5px rgba(0, 0, 0, 0.8);

        input {
          flex: 1;

          height: 100%;
          width: 100%;

          background: transparent;

          padding: 0 1rem;

          font-size: 1rem;
          color: #333;

          outline: none;
          border: none;
        }

        .text-send {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          height: 100%;
          width: 8%;

          margin-right: 15px;

          .arrow-img {
            max-height: 80%;
            max-width: 100%;
          }
        }
      }
    }

    .toggler {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      height: 100%;
      width: 15%;

      cursor: pointer;

      .arrow-img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }
}