.dropdown {
  position: relative;
  display: inline-block;
  font-family: 'Arial', sans-serif;

  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%; // This will position the dropdown just below the button
    right: 0;  // This will align it to the right side
    z-index: 1;
    background-color: #fff; // white background
    border: 1px solid #000; // black border

    a {
      color: #000; // black text
      padding: 10px 16px;
      text-decoration: none;
      display: block;
      transition: background-color 0.2s;

      &:hover {
        background-color: #000; // black background
        color: #fff; // white text
      }
    }
  }

  &:hover .dropdown-content {
    display: block;
  }
}

.button {
  background-color: #000; // black background
  color: #fff; // white text
  padding: 10px 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;

  &:hover {
    background-color: #fff; // white background on hover
    color: #000; // black text on hover
  }
}
